# Working with JSON

In [1]:
import pandas as pd

In [2]:
df = pd.read_json('train.json')
df.head()

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

In [1]:
import mysql.connector

In [3]:
mysql.connector.connect(host = 'localhost', user = 'root', password ='' , database = 'world')

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

In [5]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in d:\jupyter\mynumpy\lib\site-packages (2.2.9)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
python.exe -m pip install --upgrade pip mysql.connector

In [8]:
import pandas as pd
import mysql.connector

In [9]:
mysql.connector.connect(host='localhost',user='root', password='', database='world')

ProgrammingError: 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)